*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-overflow-scrolling:touch
}
a{
    color:#999
}
a:hover{
    color:#555
}
p.clear{
    clear:both
}
#logo{
    display:none
}
@media (min-width: 768px){
    #logo{
        display:block;
        z-index:10;
        position:relative;
        max-width:150px;
        float:left;
        pointer-events:initial;
        max-height:50px;
        max-width:100%;
        max-height:initial;
        padding:20px
    }
}

.wp-block-buttons {
    margin: 18px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.wp-block-button a {
    background-color: #75c6e8;
    font-weight: bold;
    padding: calc(0.667em + 2px) calc(1em + 2px);
}

.wp-block-button a:hover{
    background-color:#52b8e2
}

.button a{
    display:inline-block;
    line-height:48px;
    height:48px;
    color:#ffffff;
    color:#101010;
    min-width:212px;
    background-color:#75c6e8;
    text-align:center;
    box-shadow:0 0 0 1px rgba(0,0,0,0.1) inset;
    border-radius:50px;
    font-weight:bold
}
.button a:hover{
    background-color:#52b8e2
}
.button.full{
    width:100%
}
.button.full a{
    min-width:100%
}
.field-guide-content{
    display:flex;
    max-width:800px;
    padding-left:20px;
    padding-right:20px;
    flex-direction:column;
    align-items:center
}
#field-guide{
    overflow:auto;
    align-items:center;
    display:flex;
    flex-direction:column
}
#logo-mobile{
    display:block;
    z-index:10;
    position:absolute;
    max-width:80px;
    float:left;
    pointer-events:initial;
    max-height:50px
}
@media (min-width: 768px){
    #logo-mobile{
        display:none
    }
}
#nav{
    z-index:10;
    height:100%;
    transition:opacity .2s ease-in-out;
    padding-top:50px
}
#nav.mobile-hidden{
    opacity:0;
    pointer-events:none
}
@media (min-width: 768px){
    #nav.mobile-hidden{
        opacity:1;
        pointer-events:initial
    }
}
#menu-button{
    position:absolute;
    right:2vw;
    z-index:10;
    pointer-events:initial
}
@media (min-width: 768px){
    #menu-button{
        display:none
    }
}
.big-link{
    color:#555;
    transition:.2s all
}
.big-link:hover{
    color:#111
}
@media (max-width: 768px){
    .big-link{
        font-size:24px
    }
}
.content{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    top:70px
}
@media (min-width: 768px){
    .content{
        left:220px;
        top:0
    }
}
.content.blog,.content.post,.content.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow:auto;
    padding:20px;
}

.content.page .page-inner {
    max-width: 800px;
}

.slideshow-wrapper{
    opacity:0;
    pointer-events:none;
    transition:opacity .2s ease-in-out
}
.slideshow-wrapper.active{
    opacity:1;
    pointer-events:initial
}
.slideshow-wrapper .skidder-viewport{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    height:inherit !important
}
.slideshow-wrapper .skidder-viewport .skidder-wrapper{
    height:inherit !important;
    top:0;
    bottom:0
}
.slideshow-wrapper .skidder-viewport .skidder-pager{
    display:none
}
.slideshow{
    height:inherit !important
}
.slideshow.hidden{
    visibility:hidden
}
.slide{
    display:inline-block;
    width:auto;
    height:100%;
    max-width:90vw;
    transform:translate3d(0, 0, 0);
    box-shadow:none !important;
    perspective:200px
}
@media (min-width: 768px){
    .slide{
        max-width:75vw
    }
}
.slide img{
    filter:blur(3px) brightness(0.9);
    max-width:100%;
    max-height:100%;
    position:relative;
    top:50%;
    transform:translateY(-50%) translate3d(0, 0, 0) translateZ(-20px);
    transition:transform .4s ease-in-out,filter .4s ease-in-out;
    padding:20px 0
}
@media (min-width: 768px){
    .slide img{
        padding:50px 25px
    }
}
.slide.active img{
    filter:none;
    transform:translateY(-50%) translate3d(0, 0, 0)
}
.flickity-viewport{
    min-height:100%
}
.flickity-slider{
    height:100%
}
.center-helper{
    position:relative;
    top:50%;
    transform:translateY(-50%)
}
.carousel{
    width:100%;
    height:calc(100% - 35px)
}
.carousel .center-helper{
    position:relative;
    top:50%;
    transform:translateY(-50%)
}
.carousel .carousel-cell{
    display:inline-block;
    margin-right:20px;
    height:100%;
    overflow:hidden
}
.carousel .carousel-cell img{
    max-width:calc(100vw - 20px);
    max-height:100vh
}
@media (min-width: 768px){
    .carousel .carousel-cell img{
        max-width:calc(100vw - $sidebar-width - 100px)
    }
}
#splash{
    background:url("/mcphototest/wp-content/themes/beautiful-photo/images/splash.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center
}
#contact{
    text-align:center;
    top:50%;
    padding-left:20px;
    padding-right:20px
}
#contact input,#contact textarea{
    width:100%;
    height:3em;
    margin-bottom:1em;
    padding:0.5em;
    font-size:14px;
    border:1px solid #ddd
}
#contact input:disabled,#contact textarea:disabled{
    background-color:#eee
}
#contact textarea{
    height:126px
}
#contact form{
    max-width:700px;
    margin:auto;
    position:relative;
    transform:translateY(-50%)
}
#contact #submit{
    float:right;
    color:#999
}
#contact #submit:hover{
    color:navy
}
#contact #submit.disabled{
    text-shadow:none;
    color:#999;
    pointer-events:none
}
.profile{
    border-right:1px solid #eee;
    padding:2%;
    height:100%;
    background-color:#eee;
    transition:background-color .2s ease-in-out;
    position:relative;
    z-index:10
}
.profile.mobile-hidden{
    background-color:transparent;
    pointer-events:none
}
@media (min-width: 768px){
    .profile.mobile-hidden{
        pointer-events:initial
    }
}
.profile h3{
    height:auto;
    margin:0;
    color:#111;
    width:100%;
    text-align:center
}
.profile p{
    height:auto;
    width:100%;
    text-align:center;
    color:#111
}
.profile .contact{
    position:absolute;
    bottom:10px;
    margin-left:0;
    left:0;
    right:0;
    text-align:center;
    width:100%
}
.profile .contact a{
    padding:0;
    margin-left:0;
    margin-bottom:20px
}
@media (max-width: 768px){
    .profile .contact a{
        font-size:24px
    }
}
.profile .contact #contact-button{
    position:relative;
    top:-10px
}
@media (max-width: 768px){
    .profile .contact #contact-button{
        font-size:24px
    }
}
.profile .contact .social .fa{
    padding-left:8px;
    font-size:1.6em;
    padding-right:8px
}
@media (min-width: 768px){
    .profile{
        position:fixed;
        width:220px;
        height:100%;
        padding:0
    }
    .profile h3{
        text-align:center;
        float:none;
        width:100%;
        margin-top:0
    }
    .profile p{
        margin-top:-1.3em;
        font-size:16px;
        text-align:center;
        letter-spacing:2px
    }
    .profile .img-circle{
        height:auto;
        width:55%;
        margin-top:25%;
        margin-left:24%
    }
}
@keyframes shine{
    to{
        background-position:-200% center
    }
}
.loading{
    text-align:center;
    background:linear-gradient(to right, #BBB 20%, #DDD 40%, #DDD 60%, #BBB 80%);
    background-size:200% auto;
    color:#000;
    background-clip:text;
    text-fill-color:transparent;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    animation:shine 1s linear infinite;
    pointer-events:none;
    cursor:default
}
#about{
    display:flex;
    flex-direction:column;
    align-items:center;
    overflow:scroll
}
#about .about-text{
    padding:20px
}
#about .about-image{
    padding-left:20px
}
#about .about-image img{
    padding-right:20px;
    height:500px;
    max-height:80vh;
    object-fit:contain
}
@media (min-width: 768px){
    #about .about-image img{
        max-width:30vw;
        padding-right:0
    }
}
@media (min-width: 768px){
    #about{
        flex-direction:row
    }
}
.portfolio-link .big-link{
    color:#555
}
.portfolio-link .gallery-nav{
    margin:0 auto;
    text-align:center;
    border-spacing:8px;
    overflow:hidden;
    max-height:200px;
    opacity:1;
    transition:.2s all
}
@media (max-width: 768px){
    .portfolio-link .gallery-nav{
        font-size:24px
    }
}
.portfolio-link .gallery-nav li{
    float:none;
    display:table-row;
    padding:5px 10px
}
.portfolio-link .gallery-nav li>a{
    display:table-cell;
    padding-left:16px;
    padding-right:16px
}
.portfolio-link .gallery-nav li a.current{
    color:navy
}
.portfolio-link .gallery-nav li:last-child{
    margin-bottom:0
}
.portfolio-link .gallery-nav.hidden{
    max-height:0px;
    opacity:0
}
.portfolio-link:hover .gallery-nav.hidden{
    max-height:200px;
    opacity:1
}
.portfolio-link:hover .big-link{
    color:#111
}
.portfolio-link.open .big-link{
    color:#111
}
.gallery-wrapper{
    position:absolute;
    top:0;
    left:20%;
    height:100%;
    width:auto;
    white-space:nowrap;
    overflow-y:hidden;
    overflow-x:scroll;
    transform:translate3d(0, 0, 0)
}
.gallery-wrapper .img-container{
    display:inline-block;
    width:90%;
    height:100%;
    transform:translate3d(0, 0, 0)
}
.gallery-wrapper .img-container img{
    max-width:100%;
    max-height:100%;
    position:relative;
    top:50%;
    transform:translateY(-50%) translate3d(0, 0, 0)
}
.preload *{
    -webkit-transition:none !important;
    -moz-transition:none !important;
    -ms-transition:none !important;
    -o-transition:none !important;
    transition:none !important
}
html,body{
    margin:0;
    padding:0;
    position:relative;
    overflow:hidden;
    height:100%
}
html{
    font-family:"Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:18px;
    font-weight:300;
    line-height:1.4
}
@media (min-width: 768px){
    html{
        font-size:20px
    }
}
body{
    color:#515151;
    background-color:#FAFAFA;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%
}
a{
    text-decoration:none;
    transition:all 0.3s
}
h1{
    font-size:2rem
}
h2{
    margin:0;
    padding:0;
    border:0;
    font:inherit;
    vertical-align:baseline;
    font-weight:800;
    font-size:1.6rem
}
h3{
    font-size:1rem
}
h4,h5,h6{
    font-size:1rem
}
p{
    margin:0 0 1rem
}
dt{
    font-weight:bold
}
dd{
    margin-bottom:.5rem
}
ul{
    display:inline;
    list-style:inside circle;
    padding-left:0
}
ul li{
    margin-bottom:.25rem
}
ul ul,ul ol{
    margin-top:.25rem;
    margin-bottom:.5rem
}
ol{
    list-style:inside decimal;
    padding-left:0
}
ol li{
    margin-bottom:.25rem
}
ol ul,ol ol{
    margin-top:.25rem;
    margin-bottom:.5rem
}
p+h1,p+h2,p+h3,ul+h1,ul+h2,ul+h3,ol+h1,ol+h2,ol+h3{
    margin-top:1.5rem
}
hr{
    border:0;
    border-top:.5px solid #eee;
    border-bottom:.5px solid #eee;
    margin:1.5rem auto
}
strong{
    color:#333;
    font-weight:600
}
abbr{
    font-size:85%;
    font-weight:bold;
    color:#555;
    text-transform:uppercase
}
abbr[title]{
    cursor:help;
    border-bottom:1px dotted #e5e5e5
}
blockquote{
    padding:0 0 0 1.5rem;
    margin:0 2rem 1rem 0;
    color:#999;
    border-left:.5rem solid #e5e5e5
}
blockquote p:last-child{
    margin-bottom:0
}
code,pre{
    font-family:Menlo, Monaco, "Courier New", monospace
}
code{
    padding:.25em .5em;
    font-size:85%;
    color:#bf616a;
    background-color:#f9f9f9;
    border-radius:3px
}
pre{
    display:block;
    margin-top:0;
    margin-bottom:1rem;
    padding:1rem;
    font-size:.8rem;
    line-height:1.4;
    white-space:pre;
    white-space:pre-wrap;
    word-break:break-all;
    background-color:#f9f9f9
}
pre code{
    padding:0;
    font-size:100%;
    color:inherit;
    background-color:transparent
}
.highlight{
    margin-bottom:1rem;
    border-radius:4px
}
.highlight pre{
    margin-bottom:0
}
.gist .gist-file{
    font-family:Menlo, Monaco, "Courier New", monospace !important
}
.gist .markdown-body{
    padding:15px
}
.gist pre{
    padding:0;
    background-color:transparent
}
.gist .gist-file .gist-data{
    font-size:.8rem !important;
    line-height:1.4
}
.gist code{
    padding:0;
    color:inherit;
    background-color:transparent;
    border-radius:0
}
img{
    display:block;
    max-width:100%
}
table{
    margin-bottom:1rem;
    width:100%;
    border:1px solid #e5e5e5;
    border-collapse:collapse
}
td,th{
    padding:.25rem .25rem;
    border:1px solid #e5e5e5
}
tbody tr:nth-child(odd) td,tbody tr:nth-child(odd) th{
    background-color:#eee
}
.top{
    position:fixed;
    background:rgba(0,0,128,0.8);
    height:3px;
    width:100%;
    top:0;
    z-index:100
}
.pages{
    position:fixed;
    bottom:1.5%;
    right:2%;
    font-weight:800;
    margin:2vw
}
.pages a{
    padding:4px;
    padding-left:9px;
    padding-right:9px;
    text-align:center;
    border:2px rgba(0,0,128,0.8) solid;
    color:rgba(0,0,128,0.8)
}
.pages a:hover,.pages a:focus{
    color:#fff;
    border-color:#fff;
    background:rgba(0,0,128,0.8)
}
.posts{
    max-width:38rem;
    padding:1.4rem 0.8rem;
    margin-left:auto;
    margin-right:auto;
    overflow:auto
}
@media (min-width: 38rem){
    .posts{
        margin-top:0;
        margin-left:20%;
        padding:3%;
        min-width:80%;
        height:800px
    }
}
.bloghead .bloghead-title span{
    color:#BDBDBD
}
.bloghead .bloghead-nav a{
    color:#000;
    font-weight:800
}
.bloghead .bloghead-nav a:hover{
    color:#424242
}
.bloghead .bloghead-nav span{
    font-weight:800;
    color:rgba(0,0,128,0.8)
}
.bloghead .bloghead-nav span:hover,.bloghead .bloghead-nav span:focus{
    color:rgba(0,0,128,0.8);
    text-decoration:none
}
.cell{
    display:table-
}
.post-list h2{
    margin-top:1.3rem
}
.highlight .hll{
    background-color:#ffc
}
.highlight .c{
    color:#999988;
    font-style:italic
}
.highlight .err{
    color:#a61717;
    background-color:#e3d2d2
}
.highlight .k{
    color:#000000;
    font-weight:bold
}
.highlight .o{
    color:#000000;
    font-weight:bold
}
.highlight .cm{
    color:#999988;
    font-style:italic
}
.highlight .cp{
    color:#999999;
    font-weight:bold;
    font-style:italic
}
.highlight .c1{
    color:#999988;
    font-style:italic
}
.highlight .cs{
    color:#999999;
    font-weight:bold;
    font-style:italic
}
.highlight .gd{
    color:#000000;
    background-color:#fdd
}
.highlight .ge{
    color:#000000;
    font-style:italic
}
.highlight .gr{
    color:#a00
}
.highlight .gh{
    color:#999
}
.highlight .gi{
    color:#000000;
    background-color:#dfd
}
.highlight .go{
    color:#888
}
.highlight .gp{
    color:#555
}
.highlight .gs{
    font-weight:bold
}
.highlight .gu{
    color:#aaa
}
.highlight .gt{
    color:#a00
}
.highlight .kc{
    color:#000000;
    font-weight:bold
}
.highlight .kd{
    color:#000000;
    font-weight:bold
}
.highlight .kn{
    color:#000000;
    font-weight:bold
}
.highlight .kp{
    color:#000000;
    font-weight:bold
}
.highlight .kr{
    color:#000000;
    font-weight:bold
}
.highlight .kt{
    color:#445588;
    font-weight:bold
}
.highlight .m{
    color:#099
}
.highlight .s{
    color:#d01040
}
.highlight .na{
    color:teal
}
.highlight .nb{
    color:#0086B3
}
.highlight .nc{
    color:#445588;
    font-weight:bold
}
.highlight .no{
    color:teal
}
.highlight .nd{
    color:#3c5d5d;
    font-weight:bold
}
.highlight .ni{
    color:purple
}
.highlight .ne{
    color:#990000;
    font-weight:bold
}
.highlight .nf{
    color:#990000;
    font-weight:bold
}
.highlight .nl{
    color:#990000;
    font-weight:bold
}
.highlight .nn{
    color:#555
}
.highlight .nt{
    color:navy
}
.highlight .nv{
    color:teal
}
.highlight .ow{
    color:#000000;
    font-weight:bold
}
.highlight .w{
    color:#bbb
}
.highlight .mf{
    color:#099
}
.highlight .mh{
    color:#099
}
.highlight .mi{
    color:#099
}
.highlight .mo{
    color:#099
}
.highlight .sb{
    color:#d01040
}
.highlight .sc{
    color:#d01040
}
.highlight .sd{
    color:#d01040
}
.highlight .s2{
    color:#d01040
}
.highlight .se{
    color:#d01040
}
.highlight .sh{
    color:#d01040
}
.highlight .si{
    color:#d01040
}
.highlight .sx{
    color:#d01040
}
.highlight .sr{
    color:#009926
}
.highlight .s1{
    color:#d01040
}
.highlight .ss{
    color:#990073
}
.highlight .bp{
    color:#999
}
.highlight .vc{
    color:teal
}
.highlight .vg{
    color:teal
}
.highlight .vi{
    color:teal
}
.highlight .il{
    color:#099
}
.c-hamburger{
    display:block;
    position:relative;
    overflow:hidden;
    margin:0;
    padding:0;
    width:50px;
    height:50px;
    font-size:0;
    text-indent:-9999px;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    box-shadow:none;
    border-radius:none;
    border:none;
    cursor:pointer;
    transition:background .2s
}
.c-hamburger:focus{
    outline:none
}
.c-hamburger span{
    display:block;
    position:absolute;
    top:24px;
    left:10px;
    right:10px;
    height:2px;
    background:#fff
}
.c-hamburger span::before,.c-hamburger span::after{
    position:absolute;
    display:block;
    left:0;
    width:100%;
    height:2px;
    background-color:#fff;
    content:""
}
.c-hamburger span::before{
    top:-10px
}
.c-hamburger span::after{
    bottom:-10px
}
.c-hamburger--rot{
    background-color:#28aadc
}
.c-hamburger--rot span{
    transition:transform .2s
}
.c-hamburger--rot.is-active{
    background-color:#166888
}
.c-hamburger--rot.is-active span{
    transform:rotate(90deg)
}
.c-hamburger--htx{
    background-color:transparent
}
.c-hamburger--htx span{
    background-color:navy;
    transition:background .2s
}
.c-hamburger--htx span::before,.c-hamburger--htx span::after{
    background-color:navy;
    transition-duration:.2s,.2s;
    transition-delay:0s
}
.c-hamburger--htx span::before{
    transition-property:top, transform
}
.c-hamburger--htx span::after{
    transition-property:bottom, transform
}
.c-hamburger--htx.is-active{
    background-color:transparent
}
.c-hamburger--htx.is-active span{
    background:none
}
.c-hamburger--htx.is-active span::before{
    top:0;
    transform:rotate(45deg)
}
.c-hamburger--htx.is-active span::after{
    bottom:0;
    transform:rotate(-45deg)
}
.c-hamburger--htx.is-active span::before,.c-hamburger--htx.is-active span::after{
    transition-delay:0s
}
.c-hamburger--htla{
    background-color:#32dc64
}
.c-hamburger--htla span{
    transition:transform .2s
}
.c-hamburger--htla span::before{
    transform-origin:top right;
    transition:transform .2s,width .2s,top .2s
}
.c-hamburger--htla span::after{
    transform-origin:bottom right;
    transition:transform .2s,width .2s,bottom .2s
}
.c-hamburger--htla.is-active{
    background-color:#19903c
}
.c-hamburger--htla.is-active span{
    transform:rotate(180deg)
}
.c-hamburger--htla.is-active span::before,.c-hamburger--htla.is-active span::after{
    width:50%
}
.c-hamburger--htla.is-active span::before{
    top:0;
    transform:translateX(17px) translateY(1px) rotate(45deg)
}
.c-hamburger--htla.is-active span::after{
    bottom:0;
    transform:translateX(17px) translateY(-1px) rotate(-45deg)
}
.c-hamburger--htra{
    background-color:#ff9650
}
.c-hamburger--htra span{
    transition:transform .2s
}
.c-hamburger--htra span::before{
    transform-origin:top left;
    transition:transform .2s,width .2s,top .2s
}
.c-hamburger--htra span::after{
    transform-origin:bottom left;
    transition:transform .2s,width .2s,bottom .2s
}
.c-hamburger--htra.is-active{
    background-color:#e95d00
}
.c-hamburger--htra.is-active span{
    transform:rotate(180deg)
}
.c-hamburger--htra.is-active span::before,.c-hamburger--htra.is-active span::after{
    width:50%
}
.c-hamburger--htra.is-active span::before{
    top:0;
    transform:translateX(-2px) translateY(1px) rotate(-45deg)
}
.c-hamburger--htra.is-active span::after{
    bottom:0;
    transform:translateX(-2px) translateY(-1px) rotate(45deg)
}
 